@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Regular Regular"), local("BebasNeueRegular"),
    url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.header {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #635854;
  border-bottom: 4px solid #3596f5;
}
.navbar {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}
.navbar__item {
  margin-left: 40px;
  margin-right: 40px;
}
.navbar__link {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.navbar__contacts {
  text-align: right;
}
.navbar__text {
  display: block;
  color: #fff;
  margin-bottom: 4px;
}
.navbar__phone {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}

.main {
  max-width: 1280px;
  margin: auto;
  padding-left: 80px;
  padding-top: 54px;
  display: flex;
}
.main__info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.home__image path {
  opacity: 0;
  cursor: pointer;
}

.home__image path:hover {
  opacity: 0.75;
}
.counter__group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter__button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.counter__arrow_down {
  transform: rotateX(180deg);
}
.main__title {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  color: #635854;
}
.counter {
  font-family: "Bebas Neue", sans-serif;
  color: #635854;
  font-size: 124px;
  margin-top: 7px;
}
.button__primary {
  background: #3596f5;
  border-radius: 6px;
  color: #fff;
  border: none;
  padding: 16px 36px;
  cursor: pointer;
}
